@model ProductVM
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@if (Model.Products.Count==0)
{
    <div class="jumbotron">Henuz hicbir urun eklenmemis. Urun eklemek icin<a asp-action="AddProduct" asp-controller="Product">tiklayiniz.</a></div>
}
else
{
    <table class="table table-hover">
        <tr>
            <th>ProductName</th>
            <th>UnitsInStock</th>
            <th>Category</th>
            <th colspan="2">ISLEMLER</th>
        </tr>
        @foreach (Product item in Model.Products)
        {
            <tr>
                <td>@item.ProductName</td>
                <td>@item.UnitsInStock</td>
                <td>@item.Category.CategoryName</td>
                <td><a class="btn btn-warning" asp-action="UpdateProduct" asp-controller="Product" asp-route-id="@item.ID">Guncelle</a></td>
                <td><a class="btn btn-danger" asp-action="DeleteProduct" asp-controller="Product" asp-route-id="@item.ID">Sil</a></td>
            </tr>
        }

    </table>
}

